html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', 'Segoe UI', Tahoma,  sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
  background-color: #FFFFFF;
}

main {
  width: 1200px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.button {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
  vertical-align: middle;
  height: 50px;
  max-width: 240px;
  background-color: #FB565A;
  border-radius: 2px;
  border: none;
  cursor: pointer;

  color: #FFFFFF;
  line-height: 18px;
}

.button:active {
  box-shadow: inset 0 3px 1px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.5);
}

.button-web{
  width: 160px;
}

.button-web:hover {
  background-color: #E74246;
}

.button-web:active{
  background-color: #D7373B;
}

.button-app {
  width: 160px;
  background-color: #00CA74;
}

.button-app:hover {
  background-color: #00BC6C;
}

.button-app:active {
  background-color: #00AA62;
}

.button-presentation {
  width: 160px;
  background-color: #EFC84A;
}

.button-presentation:hover {
  background-color: #EAB534;
}

.button-presentation:active {
  background-color: #E5A722;
}

.button-feedback {
  width: 260px;
}

.button-feedback:hover {
  background-color: #E74246;
}

.button-feedback:active{
  background-color: #D7373B;
}

header {
  background-color: #EEEEEE;
}

.nav-links a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  background-color: #EEEEEE;

}
.nav-links {
  list-style: none;
}

.nav-links a:hover {
  color: #FB565A
}

.nav-links a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.service-list {
  list-style: none;
}

.service-item h3 {
  font-size: 24px;
  line-height: 30px;
}

footer {
  display: flex;
  align-items: center;
}

.social {
  list-style: none;
  width: 539px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  margin-left: 10px;
  width: 80px;
  height: 80px;
  border-radius: 999px;
  background-color: #E1E1E1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link:first-child {
  margin-left: 0px;
}

.social-link:hover {
background-color: #E74246;
}

.social-link:active {
  background-color: #D7373B;
  box-shadow: inset 0 3px 1px rgba(0, 1, 1, 0.1);
}

.discount {

}

.discount-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.discount-description {
  color: #444444;
}

.modal {
  background-color: #FFFFFF;
  box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.75);
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.feedback-form input,
.feedback-form textarea {
  font: inherit;
  background: #FFFFFF;
  border: 2px solid #D7DCDE;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  background: #FFFFFF;
  border: 2px solid #B4B9BB;
}

.feedback-form input:focus,
.feedback-form textarea:focus, {
  background: #FFFFFF;
  border: 2px solid #000000;
}


.container h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  background-color: #EEEEEE;
}

.filters fieldset{
  border: none;
}

.filter-legend {
  font-size: 18px;
  font-weight: 800;
}

.filters ul {
  list-style: none;
  line-height: 19px;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.button-filter {
  width: 260px;
  background-color: #EEEEEE;
  color: #000000
}

.button-filter:hover {
  background-color: #DFDFDF;
}

.button-filter:active {
  background-color: #D5D5D5;
  color: #000000;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  overflow: hidden;
  margin-bottom: 33px;
}

.catalog-item img:first-child {
  opacity: 0.12;
}

.catalog-item:hover img:first-child {
  opacity: 1;
}

.info-wrap {
  background-color: #EEEEEE;
}

.catalog-item-link {
  color: #000000;
}

.catalog-item h3 {
  font-size: 30px;
  line-height: 30px;
}

.catalog-item-description {
  color: #666666
}
